/* BASIC LAYOUT */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

.col {
    padding-right: 1em;
    padding-left: 1em;
}

/* PARAGRAPH */

p {
    font-size: 80%;
    line-height: 160%;
}

.long_copy {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
}

/*ICONS*/

.icon_big {
    font-size: 300%;
    display: block;
    color: #f5c4ae ;
    margin-bottom: 10px;

}

.icon_moderate {
    font-size: 150%;
    display: block;
    color: #f5c4ae ;
    margin-bottom: 10px;
    padding-top: 10px;
}

/* HEADER */

.main-header {
    text-transform: uppercase;
    text-align: center;
    font-size: .8em;
}

.name a {
    color: #282b28;
}

.main-nav a {
    color: #69d175;
}

.main-nav li {
    padding: .8em 0;
}

/* BANNER */

.banner {
    background-color: #f5c4ae;
    margin: 3em 0;
    text-align: center;
    padding: 2em 0 3em 0;
    text-transform: uppercase;
}

.motto,
.tagline {
    color: #db5656;
}

/* INTRODCUTION */

.intro {
    
}

h2 {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 180%;
    text-align: center;
}

h2:after { /* MAKES LINE FOR ALL H2 HEADING */
    display: block;
    height: 2px;
    background-color: #db5656;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 150%;
}

.primary {
    margin-bottom: 2em;
}

/*EATERIES*/

.eateries {
    background-color: #ebebeb;
    padding: 2em 0;
}

.images_container {
    position: relative;
    text-align: center;
}

.images_container img{
   width: 80%;
   height: auto; 
   padding-top: 2em;
  
}

/*RECREATION*/

/*HOUSING*/

.location {
    background-color: #ebebeb;
    margin: 3em 0;
    text-align: center;
    padding: 2em 0 3em 0;
    text-transform: uppercase;
}


/*SPECIAL EFFECTS*/

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    padding-bottom: .5em;
}

.name a:hover,
.name a:active {
    color: #db5656;
}



/* ETC */
.clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }

.small_margin {
    margin-top: 10px;
}

.big_margin {
    margin-top: 3em;
}

.margin_bottom {
    margin-left: 2em;
}

.left {
    text-align: left;
    margin-left: 100px;
}


/* FOR DESKTOP VIEW FOR 2x2 IMAGE IN EATERIES 

.images_container {
    display: flex;
    flex-wrap: wrap;
    
}

.container .image {
    width: 50%;
}

.container img {
    width: calc(100% - (20px * 2));
    margin: 20px;
}

*/
