/* BASIC LAYOUT */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

/* HEADER */

.main-header {
    text-transform: uppercase;
    text-align: center;
    font-size: .8em;
}

.name a {
    color: #282b28;
}

.main-nav a {
    color: #69d175;
}

.main-nav li {
    padding: .4em 0;
}

/* BANNER */

.banner {
    background-color: #f5c4ae;
    margin: 2em 0;
    text-align: center;
    padding: 2em 0 3em 0;
}

.motto,
.tagline {
    color: #db5656;
}

.tagline {


/*SPECIAL EFFECTS*/

.main-nav a:hover,
.name a:hover{
    color: #ff7a59;
}

/* ETC */
.clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
